# jenkins/tasks/main.yml
---
- name: install packages
  apt: pkg={{ item }}
  with_items:
    - openjdk-6-jdk
    - git
    - maven
    - tomcat7

- name: enable tomcat service
  service: name=tomcat7 state=running enabled=yes

- name: set maximum java memory use for tomcat
  lineinfile: dest={{ tomcat_defaults_path }} regexp='^JAVA_OPTS=' line='{{ tomcat_java_opts }}'
  notify: restart tomcat

- name: deploy jenkins
  get_url: url={{ jenkins_war_url }} dest={{ jenkins_war_path }} mode=444 owner=root group=root

- name: set jenkins context
  template: src=jenkins.xml dest={{ tomcat_conf_dir }}/Catalina/localhost/jenkins.xml mode=644 owner=root group=root
  notify: restart tomcat
